<!DOCTYPE html>
<html>

<head>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src=" https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js "></script>
    <script>
        var count = 0
    </script>
</head>


<body class="container">
    <div class="page-header ">
        <h1>Information of Matches in FIFA 2014</h1>
    </div>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>
                <a href="/" class="app-bar-element">
                        2014 FIFA
                    </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Groups<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href={{ url_for( 'group', name='Group A' ) }}>Group A</a></li>
                    <li><a href={{ url_for( 'group', name='Group B' ) }}>Group B</a></li>
                    <li><a href={{ url_for( 'group', name='Group C' ) }}>Group C</a></li>
                    <li><a href={{ url_for( 'group', name='Group D' ) }}>Group D</a></li>
                    <li><a href={{ url_for( 'group', name='Group E' ) }}>Group E</a></li>
                    <li><a href={{ url_for( 'group', name='Group F' ) }}>Group F</a></li>
                    <li><a href={{ url_for( 'group', name='Group G' ) }}>Group G</a></li>
                    <li><a href={{ url_for( 'group', name='Group H' ) }}>Group H</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="/stats" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stats<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href={{ url_for( 'stat', name='players' ) }}>Players</a></li>
                    <li><a href={{ url_for( 'stat', name='referees' ) }}>Refrees</a></li>
                </ul>
            </li>
            <li><a href="/search">Search</a></li>
            <li><a href="/matches">Matches</a></li>
            <li><a href="/comments">Comments</a></li>

        </ul>
    </nav>
    <br>
    <table class="table table-striped">
        <tr>
            <th>Date</th>
            <th>Team1</th>
            <th>Team2</th>
            <th>Stage</th>
            <th>Score</th>
        </tr>

        {% for row in rows %}
        <script>
            count += 1;
        </script>
        <tr>
            <td>{{row[2]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>
            <td><a href=/matchdata/{{row[0]}}>{{row[8]}}:{{row[9]}}</a></td>
        </tr>
        <tr>
            <form action="/matches" method="POST">
                <td>
                    Add Comment to this match
                </td>
                <td colspan="2">
                    <input type="text" name="comment" placeholder="Your Comment">
                </td>
                <td colspan="1">
                    <input type="text" name="author" placeholder="Your Name">
                    <input type="hidden" name="matchid" id="ii" value={{row[0]}}>
                </td>
                <td>
                    <button type="submit" class="btn btn-default">Save</button>
                </td>
            </form>
        </tr>
        {%endfor%}

    </table>

    <script src="/static/js/bootstrap.min.js "></script>
    <script src="/static/js/myjs.js "></script>
    <br><br><br>
</body>

</html>