<!DOCTYPE html>
<html>

<head>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script>
        var oReq = new XMLHttpRequest();
        oReq.open("get", "../static/news.json", true);
        oReq.onload = listener;
        oReq.send();

        function listener() {
            news = this.responseText;
            console.log(news);
            document.getElementById("news").innerHTML = news;
        }
    </script>
</head>


<body class="container">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>
                <a href="/" class="app-bar-element">
                        2014 FIFA
                    </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Groups<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href={{ url_for( 'group', name='Group A' ) }}>Group A</a></li>
                    <li><a href={{ url_for( 'group', name='Group B' ) }}>Group B</a></li>
                    <li><a href={{ url_for( 'group', name='Group C' ) }}>Group C</a></li>
                    <li><a href={{ url_for( 'group', name='Group D' ) }}>Group D</a></li>
                    <li><a href={{ url_for( 'group', name='Group E' ) }}>Group E</a></li>
                    <li><a href={{ url_for( 'group', name='Group F' ) }}>Group F</a></li>
                    <li><a href={{ url_for( 'group', name='Group G' ) }}>Group G</a></li>
                    <li><a href={{ url_for( 'group', name='Group H' ) }}>Group H</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="/stats" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stats<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href={{ url_for( 'stat', name='players' ) }}>Players</a></li>
                    <li><a href={{ url_for( 'stat', name='referees' ) }}>Referees</a></li>
                </ul>
            </li>
            <li><a href="/search">Search</a></li>
            <li><a href="/matches">Matches</a></li>
            <li><a href="/comments">Comments</a></li>

        </ul>
    </nav>
    <br>
    <div>
        <table class="table table-striped">
            <tr>
                {% if name == "players" %}
                <th><a href={{ url_for( 'stat', name='players', sort='Name' ) }}>Name</th>
                <th><a href={{ url_for( 'stat', name='players', sort='Pos' ) }}>Position</th>
                <th><a href={{ url_for( 'stat', name='players', sort='Jersey_No' ) }}>Jersey</th>
                <th><a href={{ url_for( 'stat', name='players', sort='Country_Name' ) }}>Country</th>
                <th><a href={{ url_for( 'stat', name='players', sort='Club_Name' ) }}>Club</th>
                <th><a href={{ url_for( 'stat', name='players', sort='goal_count' ) }}>Goals</th>
                <th><a href={{ url_for( 'stat', name='players', sort='penalty_goals' ) }}>Penalty Goals</th>
                <th><a href={{ url_for( 'stat', name='players', sort='own_goals' ) }}>Own Goals</th>
                <th><a href={{ url_for( 'stat', name='players', sort='total_yc' ) }}>Total Yellow Cards</th>
                <th><a href={{ url_for( 'stat', name='players', sort='total_rc' ) }}>Total Red Cards</th>
            </tr>
            {% for row in rows %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                <td>{{row[7]}}</td>
                <td>{{row[8]}}</td>
                <td>{{row[9]}}</td>
            </tr>
            {%endfor%} {%endif%} {% if name == "referees" %}
            <th><a href={{ url_for( 'stat', name='referees', sort='Name' ) }}>Name</th>
            <th><a href={{ url_for( 'stat', name='referees', sort='Birthday_Year' ) }}>Born</th>
            <th><a href={{ url_for( 'stat', name='referees', sort='Country_Name' ) }}>Country</th>
            <th><a href={{ url_for( 'stat', name='referees', sort='Yellow_Cards' ) }}>Yellow Cards</th>
            <th><a href={{ url_for( 'stat', name='referees', sort='Yellow_To_Red_Cards' ) }}>Yellow To Red Cards</th>
            <th><a href={{ url_for( 'stat', name='referees', sort='Red_Cards' ) }}>Red Cards</th>
            </tr>
            {% for row in rows %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
            </tr>
            {%endfor%} {%endif%}
        </table>


    </div>

    <script src=" https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js "></script>
    <script src="/static/js/bootstrap.min.js "></script>
    <script src="/static/js/myjs.js "></script>
    <br><br><br>
</body>

</html>