<!DOCTYPE html>
<html>

<head>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="container">
    <div class="page-header ">
        <h1> This is data from {{name}}</h1>
    </div>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>
                <a href="/" class="app-bar-element">2014 FIFA</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Groups<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href={{ url_for( 'team', name='Group A' ) }}>Group A</a></li>
                    <li><a href={{ url_for( 'team', name='Group B' ) }}>Group B</a></li>
                    <li><a href={{ url_for( 'team', name='Group C' ) }}>Group C</a></li>
                    <li><a href={{ url_for( 'team', name='Group D' ) }}>Group D</a></li>
                    <li><a href={{ url_for( 'team', name='Group E' ) }}>Group E</a></li>
                    <li><a href={{ url_for( 'team', name='Group F' ) }}>Group F</a></li>
                    <li><a href={{ url_for( 'team', name='Group G' ) }}>Group G</a></li>
                    <li><a href={{ url_for( 'team', name='Group H' ) }}>Group H</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="/stats" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stats<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/stats">Overview</a></li>
                    <li><a href="#">Refrees</a></li>
                </ul>
            </li>
            <li><a href="/search">Search</a></li>
            <li><a href="/matches">Matches</a></li>
        </ul>
    </nav>
    <br>
    <div>
        <table class="table table-striped">
            <tr>
                <th>Group</th>
                <th>Position</th>
                <th>Team</th>
                <th>Pld</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>
                <th>GF</th>
                <th>GA</th>
                <th>GD</th>
                <th>Pts</th>
            </tr>
            {% for row in rows %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                <td>{{row[7]}}</td>
                <td>{{row[8]}}</td>
                <td>{{row[9]}}</td>
                <td>{{row[10]}}</td>
            </tr>
            {%endfor%}
        </table>


    </div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js "></script>
    <script src="/static/js/bootstrap.min.js "></script>
    <script src="/static/js/myjs.js "></script>
</body>

</html>